<div class="custom-container">
    <div class="back w-full md:w-4/5 flex justify-end mb-3 ml-2">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            class="h-6 w-6 hover:scale-110 hover:cursor-pointer transition-transform" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor"
            stroke-width="2"
            (click)="back()">
            <path stroke-linecap="round" stroke-linejoin="round" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
        </svg>
    </div>
    <mat-tab-group mat-stretch-tabs class="bg-white">
        <mat-tab label="ورود کاربران">
            <app-customer-login 
                                [show]="show">
            </app-customer-login>
        </mat-tab>
        <mat-tab label="ورود فروشندگان">
            <app-seller-login 
                            [show]="show">
            </app-seller-login>
        </mat-tab>
    </mat-tab-group>
</div>