<div class="
        order-food
        overflow-y-auto
        w-full
        xs:w-[400px] 
        h-screen 
        shadow-lg
        z-50 
        fixed 
        top-0 
        left-0 
        -translate-x-[100%]
        transition
        duration-300
        ease-in-out
        bg-white" #orderFood>
    <svg 
        xmlns="http://www.w3.org/2000/svg" 
        class="h-8 w-8 mt-3 mr-3 hover:cursor-pointer hover:scale-125 transition"
        fill="none" 
        viewBox="0 0 24 24" 
        stroke="currentColor" 
        stroke-width="2" 
        (click)="closeSidebarFood()">
        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
    </svg>
    <div class="content mt-10 overflow-x-auto xs:overflow-hidden w-full">
        <table class="border border-collapse border-slate-400 w-full">
            <thead>
                <tr class="">
                    <th 
                        class="text-center border min-w-[170px] border-slate-300 font-semibold text-sm bg-[#000000bf] p-3 text-white">
                        غذا
                    </th>
                    <th 
                        class="text-center border min-w-[100px] border-slate-300 font-semibold text-sm bg-[#000000bf] p-3 text-white">
                        قیمت
                    </th>
                    <th 
                        class="text-center border min-w-[70px] border-slate-300 font-semibold text-sm bg-[#000000bf] p-3 text-white">
                        تعداد
                    </th>
                    <th 
                        class="text-center border min-w-[60px] border-slate-300 font-semibold text-sm bg-[#000000bf] p-3 text-white">
                        حذف
                    </th>
                </tr>
            </thead>
            <tbody >
                <tr class="" *ngFor="let item of orderFoodList; let i = index;">
                    <td class="text-center text-sm p-2 min-w-[170px] border border-slate-300">
                        {{item.name}}
                    </td>
                    <td class="text-center text-sm p-2 min-w-[100px] border border-slate-300">
                        {{item.price | priceDivider}}
                    </td>
                    <td class="text-center marker:p-2 min-w-[70px] border border-slate-300">
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            class="h-4 w-4 border rounded-full inline-block"
                            fill="none" 
                            viewBox="0 0 24 24" 
                            stroke="currentColor" 
                            stroke-width="2"
                            (click)="upCounter(i)">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M12 6v6m0 0v6m0-6h6m-6 0H6" />
                        </svg>
                        <div class="text-sm mt-[2px] mx-2 inline-block">{{foodsLength[i]}}</div>
                        <svg 
                            xmlns="http://www.w3.org/2000/svg" 
                            class="h-4 w-4 border rounded-full inline-block"
                            fill="none" 
                            viewBox="0 0 24 24" 
                            stroke="currentColor" 
                            stroke-width="2"
                            (click)="downCounter(i)">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                        </svg>
                    </td>
                    <td 
                        class="text-center before:text-sm p-2 min-w-[60px] border border-slate-300 mx-auto">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 hover:cursor-pointer inline-flex" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" (click)="removeFood(i)">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16" />
                        </svg>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <hr>
    <div class="
                wrapper-price
                flex
                justify-evenly
                mt-5
                mx-auto
                border-b-2
                border-solid
                p-4
                pb-2
                text-center
                w-full">
        <span class="label-price font-medium mx-1">مبلغ پرداختی :</span>
        <span class="price font-medium mx-1">{{(sumPrice || 0) | priceDivider}} تومان</span>
    </div>
    <div class="flex justify-center mt-12">
        <button class="
                    pay 
                    bg-[#98d944]
                    text-white
                    font-medium
                    py-1 
                    px-8 
                    rounded-sm 
                    disabled:bg-slate-200
                    disabled:text-white text-lg" type="submit" [disabled]="emptyPayList" (click)="pay()">
            پرداخت
        </button>
    </div>
</div>