<div class="wrapper pb-10 mx-[15px] sm:mx-[40px] lg:mx-[60px] xl:mx-[75px]">
    <div class="flex flex-col items-center sm:flex-row sm:flex-wrap sm:justify-between">
        <div class="
                    card
                    shadow-md 
                    rounded-md 
                    mb-2
                    w-full
                    sm:w-[48%]
                    lg:w-[23.4%]
                    overflow-hidden" 
                    *ngFor="let food of foods; let i = index;">
            <div class="card-hedear">
                <img [src]="'https://api.hosseinnejaty.ir/' + food.userId + '/' + food.image"
                    class="h-60 rounded-md w-full" alt="">
            </div>
            <div class="card-body relative bg-white -top-4">
                <div class="cart text-center -mt-10 relative -top-[30px]">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-16 w-16 rounded-full m-auto p-3 bg-lime-600"
                        viewBox="0 0 20 20" fill="currentColor" (click)="cart(food)">
                        <path
                            d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                            class="path" />
                    </svg>
                </div>
                <h2 class="card-title text-center text-xl text-[#606060] font-semibold">
                    {{food.name}}
                </h2>
                <div class="details flex justify-evenly items-center ">
                    <div class="mt-9 w-[48%] flex flex-col items-center">
                        <div class="price text-lime-500 text-sm font-bold mb-3">
                            {{food.price | priceDivider}} تومان
                        </div>
                        <div class="raitin-bar flex items-center justify-end" #rating>
                            <svg 
                                xmlns="http://www.w3.org/2000/svg" 
                                class="h-6 w-6 fill-[#f0d355]" 
                                style="color: transparent" 
                                fill="none"
                                viewBox="0 0 24 24" 
                                stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M11.049 2.927c.3-.921 1.603-.921 1.902 0l1.519 4.674a1 1 0 00.95.69h4.915c.969 0 1.371 1.24.588 1.81l-3.976 2.888a1 1 0 00-.363 1.118l1.518 4.674c.3.922-.755 1.688-1.538 1.118l-3.976-2.888a1 1 0 00-1.176 0l-3.976 2.888c-.783.57-1.838-.197-1.538-1.118l1.518-4.674a1 1 0 00-.363-1.118l-3.976-2.888c-.784-.57-.38-1.81.588-1.81h4.914a1 1 0 00.951-.69l1.519-4.674z" />
                            </svg>
                            <span class="mt-1 mr-1 text-sm">{{food.average || averageRate[i] || 0}}</span>
                        </div>
                    </div>
                    <div class="mt-9 w-[1px] h-14 bg-gray-200"></div>
                    <div class="mt-9 w-[48%] flex flex-col items-center">
                        <div 
                            class="copon font-semibold text-sm line-through decoration-2 text-[#606060] mb-3" #copon>
                            {{food.copon || 0}} تومان
                        </div>
                        <div class="more" #more>
                            <a 
                                class="more text-sm hover:cursor-pointer" 
                                (click)="showMoreModal(food, i)">
                                بیشتر
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>