RewriteEngine On
RewriteBase /
RewriteRule ^index.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.html [L]


# # DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION BEGIN
# RewriteEngine On
# RewriteRule ^/?(.*)$ http://127.0.0.1:1902/$1 [P,L]
# # DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION END
# # DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION BEGIN
# RewriteEngine On
# RewriteRule ^/?(.*)$ http://127.0.0.1:1902/$1 [P,L]
# # DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION END
# # DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION BEGIN
# RewriteEngine On
# RewriteRule ^/?(.*)$ http://127.0.0.1:1902/$1 [P,L]
# # DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION END
# # DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION BEGIN
# RewriteEngine On
# RewriteRule ^/?(.*)$ http://127.0.0.1:1902/$1 [P,L]
# # DO NOT REMOVE. PARSWEBSERVER DEVELOPER CONFIGURATION END