<mat-card 
        class="profile !rounded-md py-8 mt-[50px] shadow-md px-5 w-full sm:w-4/5 lg:w-1/2 mx-auto overflow-hidden">
    <form 
        [formGroup]="changePassowrdForm"
        (ngSubmit)="submit()"
        #form="ngForm"
        class="flex flex-col">

        <h2 class="change-password text-center text-gray-400">تغییر رمز عبور</h2>

        <mat-form-field appearance="standard">
            <mat-label class="text-[12px] text-[#818181f2]">ایمیل</mat-label>
            <input type="text" matInput [readonly]="true" formControlName="email">
        </mat-form-field>
        
        

        <mat-form-field appearance="standard">
            <mat-label class="text-[12px] text-[#818181f2]">رمز عبور فعلی</mat-label>
            <input 
                    type="password" 
                    matInput 
                    placeholder="رمز عبور فعلی" 
                    formControlName="currentPassword">
        </mat-form-field>

        

        <mat-form-field appearance="standard">
            <mat-label class="text-[12px] text-[#818181f2]">رمز عبور جدید</mat-label>
            <input type="password" matInput placeholder="رمز عبور جدید" formControlName="newPassword">
        </mat-form-field>



        <mat-form-field appearance="standard">
            <mat-label class="text-[12px] text-[#818181f2]">تکرار رمز عبور جدید</mat-label>
            <input 
                    type="password" 
                    matInput 
                    placeholder="تکرار رمز عبور جدید" 
                    formControlName="confirmPassword">
        </mat-form-field>


        <div class="mx-auto px-3">
            <button 
                    class="text-sm overflow-hidden bg-[#9acd32] text-white" 
                    mat-raised-button 
                    [disabled]="changePassowrdForm.invalid" 
                    type="submit">
                    ذخیره تغییرات
            </button>
        </div>

    </form>
</mat-card>