<div class="read-shops">
  <div class="custom-container">
    <div class="toolbar">
      <a type="submit" class="btn add" routerLink="create">اضافه</a>
      <button type="submit" class="btn edit" (click)="onEdit()" [disabled]="!checked">ویرایش</button>
      <button type="submit" class="btn remove" [disabled]="!checked" (click)="removeShop()">حذف</button>
    </div>
    <ng-container  *ngIf="totalDocs; else another">
      <div class="tabel-container">
        <app-table 
                  [customColumnName]="columnName"
                  [dataSource]="dataSource"
                  [selection]="selection"
                  [displayedColumns]="displayedColumns"
                  [length]="totalDocs"
                  [pageIndex]="pageIndex"
                  [pageSize]="limit"
                  [pageSizeOptions]="pageSizeOptions"
                  (onChangePaginateValue)="changePaginateValue($event)"
                  (changeEventCheckbox)="changeEventCheckbox($event)">
        </app-table>
      </div>
    </ng-container>
    <ng-template #another>
      <div class="wrapper">
        <h5 class="no-file">{{noData}}</h5>
      </div>
    </ng-template>
  </div>
</div>
