@use '../../../___share/sass/_button.scss' as button;
@use '../../../___share/sass/_snackbar_color.scss' as snackbar;
@use '../../../___share/sass/_general.scss' as general;
@use '../../../___share/sass/_tabel.scss' as tabel;

.sub-foods {
    .toolbar {
        display: flex;
        align-items: center;
        margin-top: 50px;
        flex-wrap: wrap;
        .btn {
            @include button.btn;
        }
        .edit {
            @include button.edit;
        }
        .add {
            @include button.add;
            
        }
        .remove {
            @include button.remove;
            
        }
    }
}

::ng-deep .tabel-container {
  @include tabel.matTabel
}


::ng-deep .snackbar-color {
  @include snackbar.snackbar-success;
}

.no-file {
  @include general.noData();
}