<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" [opened]="open" [position]="'end'" fixedInViewport="true">
    <div class="content">
      <div class="title-sidebar">
        <div class="header">
          <a class="title" routerLink="/">سفارش غذا</a>
        </div>
      </div>
      <div class="sidebar-content">
        <ul class="list">
          <li>
            <a 
              (click)="selectedList('users')" [ngClass]="{'selected': show === 'users'}"
              routerLink="users">users
          </a>
          </li>
          <li>
            <a 
              (click)="selectedList('foods')" [ngClass]="{'selected': show === 'foods'}"
              routerLink="foods">foods
          </a>
          </li>
          <li>
            <a 
              (click)="selectedList('categories')" [ngClass]="{'selected': show === 'categories'}"
              routerLink="categories">categories
          </a>
          </li>
        </ul>
      </div>
    </div>
  </mat-sidenav>
  <mat-sidenav-content [ngClass]="{'custom-margin-right': open}">
    <app-header (toggle)="toggleSidebar()"></app-header>
    <!-- <div class="main-content">
      <app-users *ngIf="show === 'users'"></app-users>
      <app-foods *ngIf="show === 'foods'"></app-foods>
      <app-food-category *ngIf="show === 'food-category'"></app-food-category>
    </div> -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

