<div class="sub-foods">
    <form [formGroup]="subFoodCategory" (ngSubmit)="submit(subFoodCategory)" #form="ngForm">
        <h3 class="title">{{title}}</h3>

        <mat-form-field appearance="standard">
            <mat-label>رستوران</mat-label>
            <mat-select formControlName="shop">
                <mat-option>انتخاب کنید</mat-option>
                <mat-option *ngFor="let shop of shops" [value]="shop.name">
                    {{shop.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <small 
                *ngIf="subFoodCategory.controls['shop']?.invalid && 
                (subFoodCategory.controls['shop']?.touched || 
                subFoodCategory.controls['shop']?.dirty)">
                {{shopError}}
        </small>



        <mat-form-field appearance="standard">
            <mat-label>نام</mat-label>
            <input type="text" matInput placeholder="نام" formControlName="name">
        </mat-form-field>
        <small 
            *ngIf="subFoodCategory.controls.name?.invalid && 
            (subFoodCategory.controls.name?.touched || subFoodCategory.controls.name?.dirty)">
            {{nameError}}                    
        </small>

        <button type="submit" [disabled]="!subFoodCategory.valid">{{submitLabel}}</button>
    </form>
</div>