@use './../../../__share/sass/button' as button;
@use './../../../__share/sass/snackbar_color' as snackbar;
@use './../../../__share/sass/general' as general;
@use './../../../__share/sass/tabel' as tabel;

.read-shops {
    .custom-container {
        .toolbar {
          display: flex;
          align-items: center;
          margin-top: 50px;
            .btn {
              @include button.btn;
            }
            .edit {
              @include button.edit;
            }
            .add {
              @include button.add;
              
            }
            .remove {
              @include button.remove;
             
            }
        }
      }
    }
::ng-deep .tabel-container {
  @include tabel.matTabel
}


::ng-deep .snackbar-color {
  @include snackbar.snackbar-success;
}

.no-file {
  @include general.noData();
}
