<div class="payment !mt-[50px]">
        <app-table 
                    [customColumnName]="columnName" 
                    [dataSource]="dataSource" 
                    [selection]="selection"
                    [displayedColumns]="displayedColumns" 
                    [length]="totalDocs" 
                    [pageIndex]="pageIndex" 
                    [pageSize]="limit"
                    [pageSizeOptions]="pageSizeOptions" 
                    (onChangePaginateValue)="changePaginateValue($event)"
                    (changeEventCheckbox)="changeEventCheckbox($event)">
        </app-table>
</div>
