.selected {
    background-color: #8fcf2978;
    color: black;
    font-weight: 300;
}

.sub-selected {
    background-color: #8fcf2978;
    color: black;
    font-weight: 300;
}

.reverse-selected{
    background-color: #fff;
}

.picture::after {
    content: url('./../../../../../assets/img/rate.png');
}