.selected {
    background-color: #bcdf84;
    color: black;
    font-weight: 300;
}

.sub-selected {
    background-color: #bcdf84;
    color: black;
    font-weight: 300;
}

.reverse-selected{
    background-color: #fff;
}

.text-color {
    color: white;
}