@mixin btn {
  border: none;
  text-decoration: none;
  border-radius: 3px;
  color: white;
  padding: 5px 30px;
  font-family: 'Vazir';
  background-color: yellowgreen;
  margin: 0 0 2px 2px;
  width: 108px;
  font-weight: 500;
}

@mixin edit {
  background-color: #7158e2;
  padding: 5px 30px;
  font-weight: 500;
  &:not(:disabled) {
    cursor: pointer;
  }
}

@mixin add {
  background-color: yellowgreen;
  font-size: 16px;
}

@mixin remove {
  background-color: #eb4d4b;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 16px;
  &:not(:disabled) {
  cursor: pointer;
}
}
