@mixin matTabel {
    margin-top: 8px;
        th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
            padding-right: 0;
        }
        th.mat-header-cell {
            text-align: center;
        }
        th, td {
          font-family: 'Vazir';
        }
        thead th:first-child .mat-checkbox {
          visibility: hidden;
        }
        tbody tr td {
         text-align: center;
        }
        .mat-paginator-container {
          justify-content: center;
        }
}