<div class="super-food">
    <div class="custom-container">
        <div class="toolbar">
            <button 
                    type="submit" 
                    class="btn confirm" 
                    (click)="confirm()" 
                    [disabled]="!checked">
                    تایید
            </button>
            <button 
                    type="submit" 
                    class="btn reject" 
                    (click)="reject()" 
                    [disabled]="!checked">
                    رد
            </button>
            <button 
                    type="submit" 
                    class="btn reset" 
                    (click)="reset()" 
                    [disabled]="!checked">
                    تنظیم مجدد
            </button>
        </div>
        <ng-container *ngIf="totalDocs; else another">
            <div class="tabel-container">
                <app-table [customColumnName]="columnName" [dataSource]="dataSource" [selection]="selection"
                    [displayedColumns]="displayedColumns" [length]="totalDocs" [pageIndex]="pageIndex"
                    [pageSize]="limit" [pageSizeOptions]="pageSizeOptions"
                    (onChangePaginateValue)="changePaginateValue($event)"
                    (changeEventCheckbox)="changeEventCheckbox($event)">
                </app-table>
            </div>
        </ng-container>
        <ng-template #another>
            <div class="wrapper">
                <h5 class="no-file">{{noData}}</h5>
            </div>
        </ng-template>
    </div>
</div>