@use './../../../___share/sass/_button.scss' as button;
@use './../../../___share/sass/_general.scss' as general;
@use './../../../___share/sass/_tabel.scss' as tabel;

.super-food {
    .custom-container {
        .toolbar {
          display: flex;
          align-items: center;
          margin-top: 50px;
          flex-wrap: wrap;
            .btn {
              @include button.btn;
              width: 140px;
              margin-left: 3px
            }
            .confirm {
              @include button.add;
              &:not(:disabled) {
                cursor: pointer;
              }
            }
            .reject {
              @include button.remove;
            }
            .reset {
              @include button.edit;
            }
        }
        ::ng-deep .tabel-container {
          width: 100%;
          th:first-child {
            width: 10%;
          }
          th:nth-of-type(7) {
            width: 10%;
          }
          th:last-child {
            width: 15%;
          }
          @include tabel.matTabel;
        }
    }
  }
  



.no-file {
  @include general.noData;
}