<div 
    class="sidenav bg-white border-l !min-h-screen overflow-hidden z-50 !fixed" 
    #sidenav [ngClass]="{'visibled': showSidebarMenu}">
  <div class="" *ngIf="loggedIn">
    <div class="account flex justify-end mt-9 ml-9 items-center">
      <div class="wrapper-cart flex items-center ml-1 text-[#00000087]">
        <span 
            *ngIf="orderFoodLength > 0" 
            class="inline-block bg-lime-500 rounded-full pt-[3px] pl-[2px] pr-[3px] text-white 
                      text-center text-[13px] w-[22px] h-[22px] mb-[38px] -ml-[10px] -mt-3">
          {{orderFoodLength}}
        </span>
        <svg 
            class="cart h-8 w-8 rounded-full p-1 hover:cursor-pointer" 
            xmlns="http://www.w3.org/2000/svg"
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor" 
            stroke-width="2" 
            (click)="showSidebarPay($event)">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
        </svg>
      </div>
      <div class="profile text-black" (click)="showAccountDropdown()">
        <svg 
            class="h-8 w-8 rounded-full m-auto p-1" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor"
            xmlns="http://www.w3.org/2000/svg" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
            d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
      </div>
    </div>
    <div
      class="
          dropdown-account flex flex-col items-start absolute bg-white left-8 p-3 rounded-[1px] top-16 transition-all duration-400 ease-in-out shadow-lg"
      [ngClass]="{'opacity-0': !toggleDropdown, 'opacity-100': toggleDropdown}" 
      #dropdown>
      <h6 class="email-title text-[#00000087] border-b">{{email}}</h6>
      <div 
          class="manage_accounts flex p-2 w-full hover:bg-slate-300 hover:text-white" 
          (click)="manageAccount()">
          <svg 
              xmlns="http://www.w3.org/2000/svg" 
              class="h-6 w-6 text-[#00000087]" 
              fill="none" 
              viewBox="0 0 24 24" stroke="currentColor"
              stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"/>
              {{orderFoodLength}}
        </svg>
        <small class="mr-3 text-[#00000087] font-semibold">حساب کاربری</small>
      </div>
      <div class="logout flex p-2 w-full hover:bg-slate-300 hover:text-white" (click)="logout()">
        <svg 
            xmlns="http://www.w3.org/2000/svg" 
            class="h-6 w-6 text-[#00000087]" 
            fill="none" 
            viewBox="0 0 24 24" 
            stroke="currentColor"
            stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
              d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h4a3 3 0 013 3v1" />
        </svg>
        <small class="mr-3 text-[#00000087] font-semibold">خروج</small>
      </div>
    </div>
  </div>
  <ul class="list m-0 !mt-[11px] absolute left-8">
    <li class="item !m-[30px]" *ngIf="!loggedIn && showSidebarMenu">
      <div class="auth text-center">
        <a routerLink="login" class="customer item-link !text-[#00000087] font-semibold">ورود / عضویت</a>
      </div>
    </li>
  </ul>
</div>
<div class="custom-container px-0 pt-3 lg:px-0">
  <div 
      class="parent-header rounded-md mx-5 sm:mx-10 lg:mx-[95px]" 
      [ngClass]="{'home-page': homePage}">
    <app-header
              [loggedIn]="loggedIn" 
              [email]="email" 
              [scrolled]="scrolled"
              [sidebarShow]="showSidebarMenu"
              [orderFoodLength]="orderFoodLength"
              (onManageAccount)="manageAccount()" 
              (onlogout)="logout()"
              (openOrderFood)="openSidebarFood($event)"
              (onToggleHamburger)="toggleHamburger($event)">
    </app-header>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
<app-sidebar-pay 
                [orderFoodList]="orderFoodList"
                [foodsLength]="foodsLength"
                [openOrderFood]="openOrderFood"
                [emptyPayList]="emptyPayList"
                [sumPrice]="sumPrice"
                [payList]="payList"
                (onCloseSidebarFood)="closeSidebarFood()"
                (onDownCounter)="downCounter($event)"
                (onRemoveFood)="removeFood($event)"
                (onUpCounter)="upCounter($event)"
                (onPay)="pay()">
</app-sidebar-pay>