.sidenav {
    width: 400px;
    height: 100vh;
    position: absolute;
    transform: translateX(100%);
    transition: transform .4s ease-in-out;
    
    &.visibled {
        transform: translateX(0);
    }
        .list {
            list-style: none;
            padding: 0;
            height: 100vh;
            margin-top: 25px;
                .item {
                    margin: 10px 0;
                    width: 100%;
                    .item-link {
                        color: white;
                        text-decoration: none;
                        padding: 5px;
                        font-size: 18px;
                        font-weight: 800;
                    }
                    
                }
        }
}
.custom-container {
    overflow: hidden;
}

.home-page {
    margin: 0;
}
@media (max-width: 600px) { 
    .sidenav {
        width: 100%;
    }
}

@media (min-width: 768px) { 
    .sidenav.visibled {
        transform: translateX(100%);
    }
}