<div class="image-box-dialog">
    <div class="custom-container">
        <h2 matDialogTitle>انتخاب  تصویر</h2>
        <mat-dialog-content>
        </mat-dialog-content>
            <div class="card-images" *ngIf="images.length > 0">
                <div    
                    class="box-image"
                    *ngFor="let image of images;
                    let i = index;"
                    [matTooltip]="image.filename" 
                    matTooltipPosition="below">
                        <img 
                            [src]="baseApi + '/' + image.userId + '/' + image.filename"
                            [alt]="image.filename" 
                            (click)="selected($event, image)"
                            [ngClass]="{'selected': image.filename === imageNameSelected}"
                            #img>
                </div>
            </div>
            <div *ngIf="images.length === 0">
                <h2 class="no-file">{{ responseMessage }}</h2>
            </div>
        <mat-dialog-actions>
            <button    
                    mat-raised-button 
                    class="save" 
                    (click)="save()" 
                    [disabled]="!imageNameSelected?.length">ذخیره
            </button>
            <button mat-raised-button class="close" (click)="close()">انصراف</button>
        </mat-dialog-actions>
    </div>
</div>