<div class="custom-container">
    <form [formGroup]="formCategory" (ngSubmit)="submit()" #form="ngForm">
        <h3>{{title}}</h3>


        <mat-form-field appearance="standard">
            <mat-label>نام</mat-label>
            <input type="text" matInput placeholder="نام" formControlName="name">
        </mat-form-field>
        <small 
                *ngIf="formCategory.controls['name']?.invalid && 
                (formCategory.controls['name']?.touched || formCategory.controls['name']?.dirty)">
                {{nameError}}                    
        </small>



        <mat-form-field appearance="standard">
            <mat-label>نام مستعار</mat-label>
            <input type="text" matInput placeholder="نام مستعار" formControlName="alias">
        </mat-form-field>
        <small *ngIf="formCategory.controls['alias']?.invalid && 
                (formCategory.controls['alias']?.touched || 
                formCategory.controls['alias']?.dirty)">
            {{aliasError}}                    
        </small>




        <div class="box-image">
            <button 
                    class="image-select" 
                    mat-button type="button" 
                    (click)="openDialog()">
                    انتخاب تصویر
            </button>
            <mat-form-field class="image" appearance="standard">
                <input 
                        matInput 
                        type="text" 
                        placeholder="تصویر" 
                        readonly 
                        class="image" 
                        formControlName="image">
            </mat-form-field>
        </div>
        <small 
                class="image-error" 
                *ngIf="formCategory.controls['image']?.invalid && 
                (formCategory.controls['image']?.touched || 
                formCategory.controls['image']?.dirty)">
                {{imageEmpty}}
        </small>



        <button type="submit" [disabled]="!formCategory.valid">{{submitLabel}}</button>
    </form>
</div>