<div 
    class="error text-lg text-red-600 flex justify-center mt-28 font-semibold" 
    *ngIf="error;else form">
    {{error?.message}}
</div>
<ng-template #form>
    <form 
        class="reset-password w-full px-3 sm:px-0 sm:w-2/3 lg:w-1/3 flex justify-center items-center mx-auto mt-24"
        [formGroup]="resetForm"
        (ngSubmit)="resetPassword(resetForm)">
        <mat-card class="card w-full">
    
            <mat-card-title class="title text-center m-0 text-lg text-[#606060]">
                بازیابی رمز عبور
            </mat-card-title>
    
    
    
            <mat-form-field class="w-full pb-0 pt-4 px-4 md:px-12" appearance="standard">
                <mat-label>رمز عبور جدید</mat-label>
                <input 
                        matInput 
                        type="password" 
                        formControlName="newPassword"
                        placeholder="رمز عبور جدید">
            </mat-form-field>
            <small 
                    class="px-4 md:px-12 text-red-500 mb-5 block" 
                    *ngIf="resetForm.controls.newPassword.invalid && 
                    (resetForm.controls.newPassword.touched || resetForm.controls.newPassword.dirty)">
                    {{newPasswordError}}
            </small>
    
    
    
    
            <mat-form-field class="w-full pb-0 pt-4 px-4 md:px-12" appearance="standard">
                <mat-label>تکرار رمز عبور</mat-label>
                <input 
                        matInput 
                        type="password" 
                        formControlName="confirmPassword" 
                        placeholder="تکرار رمز عبور">
            </mat-form-field>
            <small 
                    class="px-4 md:px-12 text-red-500 mb-5 block" 
                    *ngIf="resetForm.controls.confirmPassword.invalid && (resetForm.controls.confirmPassword.touched || resetForm.controls.confirmPassword.dirty)">
                    {{confirmPasswordError}}
            </small>
    
    
    
            <div class="text-center">
                <button 
                        type="submit" 
                        [disabled]="resetForm.invalid" 
                        mat-raised-button
                        class="text-sm overflow-hidden bg-[#9acd32] text-white">
                        تغییر رمز
                </button>
            </div>
    
    
        </mat-card>
    </form>
</ng-template>