.title-sidebar {
  .header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 61px;
    border-left: 1px solid #eee;
    .title {
      margin: 11px 80px;
      font-size: 28px;
      font-weight: bold;
      cursor: pointer;
      color: #98d944;
      text-decoration: none;
      }
    }
}

.sidebar-content {
  ul {
    padding-right: 0;
    list-style: none;
    margin-top: 0;
    li {
      border-bottom: 1px solid #eee;
          a {
            display: block;
            cursor: pointer;
            padding: 15px 20px;
            color: #111;
            text-decoration: none;
            font-size: 18px;
          }
      }
    }
}


:host ::ng-deep mat-sidenav {
  position: absolute;
}

// .custom-margin-right {
//   margin-right: 303px !important;
// }

.mat-drawer-side.mat-drawer-end {
  border-left: none;
}

.mat-sidenav-content {
  background-color: #e5e5e57a;
  height: 100vh;
  // overflow: hidden;
}

.selected {
  background-color: #3947602e;
  transition: all .2s ease-in-out;
  font-weight: 500;
  color: #686868 !important;
}

.main-content {
  padding-right: 20px;
  padding-left: 20px;
}


.profile .profile-image img {
  aspect-ratio: 1/1;
}