<div class="custom-container">
    <div class="wrapper-slider -mt-[90px] bg-[#eeeeee59] rounded-tl-md rounded-tr-md">
        <app-circular-slider></app-circular-slider>
    </div>
    <div class="wrapper-search">
        <app-search-bar (onGoToPage)="goToPage($event)" [lists]="lists">
        </app-search-bar>
    </div>
    <div class="">
        <div class="wrapper-papular">
            <app-motst-papular></app-motst-papular>
        </div>
        <div class="wrapper-newest">
            <app-newest></app-newest>
        </div>
    </div>
    <app-footer></app-footer>
</div>