:host ::ng-deep .br-units {
    direction: ltr;

    .br-unit {
        font-size: 20px !important;
    }
}

.no-card {
    height: 100%;
    align-items: center;
    font-size: 24px;
    font-weight: 500;
    border-right: none;
    color: #8d8d8d;
}

.header-card img {
    @media (min-width: 320px) and (max-width: 360px) {
        padding: 56px
    }
    @media (min-width: 361px) and (max-width: 400px) {
        padding: 84px
    }
    @media (min-width: 401px) and (max-width: 459px) {
        padding: 96px
    }
    @media (min-width: 1024px) {
        padding: 36px
    }
    @media (min-width: 1280px) {
        padding: 46px
    }
}