<div 
    class="cards flex flex-col xs:flex-row flex-wrap justify-evenly" 
    [ngClass]="{'no-card': !shops.length}">
    <div 
        class="card flex flex-col items-center mb-3 xs:w-[49%] sm:w-[32%] border 
                border-[#e5e7eb] shadow-sm rounded-md"
        *ngFor="let shop of shops; let i = index;">
        <div class="header-card flex justify-center">
            <img class="rounded-full xs:p-6 aspect-square p-6"
                [src]="'https://api.hosseinnejaty.ir' + '/' + shop.userId + '/' + shop.image" alt="">
        </div>
        <div class="body-card flex flex-col items-center ">
            <div class="title text-center text-xl text-[#606060f2] font-semibold">{{shop.name}}</div>
            <div class="description text-center mb-[10px] mt-1 text-[11px] font-bold">
                {{shop.description}}
            </div>
            <div class="rating">
                <bar-rating class="mt-2" [rate]="rates[i]" [max]="5" [readOnly]="true">
                </bar-rating>
            </div>
        </div>
        <div class="footer-card flex justify-center my-6">
            <button class="order bg-blue-400 text-white px-6 py-[2px] text-sm rounded"
                (click)="onClickDetails(shop)">سفارش</button>
        </div>
    </div>
    <div class="no-data" *ngIf="!shops.length">
        <h2>{{message}}</h2>
    </div>
</div>