<div class="form-upload">
    <div class="custom-container">
        <div class="select-files" [ngClass]="{'disable-form': loadingSpinner}">
            <form [formGroup]="uploadForm" (ngSubmit)="upload()">


                <div class="spinner" *ngIf="loadingSpinner" [class.animate]="loadingSpinner">
                    <app-spinner></app-spinner>
                </div>
                <div class="upload">
                    <label for="upload-file">برای انتخاب یک یا چند فایل کلیک کنید</label>
                    <input 
                            type="file" 
                            placeholder="تصویر" 
                            formControlName="images" 
                            id="upload-file"    
                            multiple 
                            style="display: none;"
                            (change)="changeFileSelect($event)" 
                            accept="image/png, image/jpg, image/jpeg" 
                            #inputFileSelect>
                </div>

                

                <div class="upload">
                    <button 
                    type="submit" 
                    [disabled]="!uploadForm.valid || loadingSpinner">
                    آپلود
                </button>
                </div>
            </form>
            <small class="error" *ngIf="image?.invalid && (image?.touched || image?.dirty)">
                {{emptyImage}}
            </small>
        </div>
        <div class="read-files" *ngIf="files.length > 0">
            <div class="box-image"  *ngFor="let image of images; let i = index;"  >
                <img class="image" [src]="image.url" [alt]="image.name">
                <small class="image-name">{{image.name}}</small>
                <mat-icon class="delete" (click)="removePreviewFile(i, image.name)">delete</mat-icon>
            </div>
        </div>
    </div>
</div>
