@use '../../../___share/sass/button' as button;

$greenDefault: yellowgreen;

.custom-container {
  position: relative;
}

:host ::ng-deep .mat-progress-spinner circle,
.mat-spinner circle {
  stroke: #2A79FF !important;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.disable-form {
  background-color: lightgrey;
  pointer-events: none;
}

:host ::ng-deep .form {
  margin: 10% auto;
}

:host ::ng-deep h3 {
  color: #6f6f6f;
  text-align: center;
  margin-top: 0;
}


.form-shop {
  display: flex;
  justify-content: center;
}


.form {
  box-shadow: 2px 2px 10px 0px rgba(0,0,0,0.5);
  margin-top: 50px;
  border-radius: 2px;
  padding: 20px 80px 10px;
  display: flex;
  flex-direction: column;
}

.mat-form-field {
  text-align: right !important;
  // font-family: 'Vazir';
}


.btn {
  @include button.btn;
  background-color: $greenDefault;
  margin: 30px auto 10px;
  width: 50%;
  &[type=submit] {
    padding: 0;
  }
}

.image {
  text-align: right;
}


.image-error {
  padding-top: 21px;
}

small {
  color: red;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

button[type= submit]:disabled {
  background-color: #9b9999;
}

:host ::ng-deep .mat-form-field-type-mat-select .mat-form-field-label {
  width: 100%;
}

.image-select {
  background: #607d8b;
  color: white;
  margin-left: 10px;
}

:host ::ng-deep .mat-chip-remove .mat-icon {
  margin-right: 10px;
}