<div class="
            custom-container 

            flex 
            flex-col-reverse
            lg:flex-row 
            justify-around 
            items-center 
            overflow-hidden
            relative
            h-[600px]
            lg:h-[500px]" 
            #container>
    <div class="overlay-blur contrast-[.6] w-full h-full absolute"></div>
    <div class="
                circle-slider 
                rounded-full 
                transition-all 
                duration-1000 
                ease-in-out
                w-[600px]
                h-[600px]
                md:w-[600px]
                md:h-[600px]
                lg:w-[530px]
                lg:h-[530px]
                xl:w-[600px]
                xl:h-[600px]
                -mb-[550px]
                lg:mb-0
                lg:mt-[720px]
                lg:mr-32"
                #slider>
        <div class="wrapper-images relative">
            <img 
                class="absolute rounded-full w-48 h-48 lg:w-40 lg:h-40"
                *ngFor="let food of foods; let i = index"
                [src]="baseApi + '/' + food.userId + '/' + food.image" 
                width="100" 
                height="100" 
                alt="" 
                #imgCircular>
        </div>
    </div>
    <div class="details mt-24 lg:mt-0 lg:w-5/12">
        <div class="data-food lg:mr-6 list-none flex items-start px-10 xs:px-18 sm:px-24 md:px-64 lg:px-0">
            <div class="flex flex-col justify-center items-center overflow-hidden">
                <div class="parent-coutner w-full flex justify-start">
                    <h4 class="
                                counter
                                text-3xl
                                xs:text-4xl 
                                font-semibold 
                                overflow-hidden
                                -translate-x-[420px]
                                md:-translate-x-[720px]
                                lg:-translate-x-[820px]
                                " #counter>
                                {{foodIndex}}
                    </h4>
                </div>
                <div class="parent-title flex justify-start">
                    <h2 class="
                                title 
                                h-10
                                mb-2 
                                mt-2
                                xs:h-14
                                text-3xl
                                xs:text-4xl
                                lg:text-5xl
                                whitespace-nowrap
                                font-semibold
                                overflow-hidden
                                text-white
                                hover:cursor-pointer"
                                (click)="navigetToFood(foods, foodTitle)"
                                #title>
                                {{foodTitle}}
                    </h2>
                </div>
            </div>
        </div>
    </div>
</div>