.cover.selected {
    transition: all .5s ease-in-out;
}

.overlay-blur {
        background-image: url(./../../../../../assets/img/r-architecture.jpg);
        background-repeat: no-repeat;
        background-size: auto;
        background-position: center; 
        // filter: brightness(0.6) blur(6px);
}

.counter {
    color: #fff;
}