.custom-container {
  margin-top: 7%;
  margin-bottom: 5%;
    .custom-card {
      padding: 20px 50px 30px;
        h2 {
          text-align: center;
          color: #919191;;
        }
        .wrapper-input {
          display: flex;
          flex-direction: column;
            small {
              color: red;
              font-size: 11px;
              font-weight: 500;
            }
        }
        .submit {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 50px;
            .wrapper {
              display: flex;
              justify-content: center;
                .btn-submit {
                    .btn {
                      cursor: pointer;
                        border: none;
                        background: #6ab04c;
                        color: white;
                        padding: 8px 50px;
                        border-radius: 3px;
                        font-size: 18px;
                        &:disabled {
                          background-color: #afafaf;
                          cursor: default;
                        }
                    }
                }
                .spinner {
                  background-color: #6ab04c;
                  border-radius: 3px 0 0 3px;
                  margin: auto 0;
                  padding: 4.5px 0;
                }
            }
            small {
                .register, .forget {
                  color: #808080;
                  font-weight: 500;
                  font-size: 14px;
                }
                .register {
                    margin-top: 20px;
                }
                .forget {
                    margin-top: 8px;
                }
            }
        }
    }
}

::ng-deep .mat-form-field {
  text-align: right !important;
} 

.host ::ng-deep .mat-form-field-infix {
  width: 250px !important;
} 

::ng-deep .mat-form-field-label {
  font-family: "Vazir" !important; 
}

.radius {
  border-radius: 0 3px 3px 0 !important;
}


@media (max-width: 400px) {
  .card {
    width: 250px !important;
  }

  .custom-card {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media (min-width: 401px) and (max-width: 460px) {
  .card {
    width: 210px !important;
  }
}


::ng-deep .mat-form-field-label mat-label {
  font-size: 14px;
}