<div class="custom-container">
  <div class="custom-card">
    <form [formGroup]="userForm" (ngSubmit)="submit()" #form="ngForm">
      <div class="wrapper-input">
        <mat-form-field appearance="standard">
          <mat-label>ايميل</mat-label>
          <input matInput formControlName="email" placeholder="ايميل">
        </mat-form-field>
        <small *ngIf="userForm.controls.email.invalid && 
                (userForm.controls.email.touched || userForm.controls.email.dirty)">
                {{emailError}}
        </small>
      </div>
      <div class="wrapper-input">
        <mat-form-field appearance="standard">
          <mat-label>رمز عبور</mat-label>
          <input matInput type="password" formControlName="password" placeholder="رمز عبور">
        </mat-form-field>
        <small *ngIf="userForm.controls.password.invalid && 
                        (userForm.controls.password.touched || userForm.controls.password.dirty)">
                        {{passwordError}}
        </small>
        <small *ngIf="userForm.controls.password?.errors"></small>
      </div>
      <div class="submit">
        <div class="wrapper">
          <div class="btn-submit">
            <button 
                    type="submit" 
                    class="btn transition-colors" 
                    [disabled]="!userForm.valid"
                    [ngClass]="{
                      'radius !pl-[25px]': loadingSpinner, 
                      '!bg-[#5a920b]': submitLabelHover}"
                    (mouseenter)="submitLabelHover = true"
                    (mouseleave)="submitLabelHover = false"
                    #submitButton>
                    {{submitLabel}}
            </button>
          </div>
          <div 
            class="spinner transition-colors flex items-center p-t-[8px] p-l-[4px]" 
            *ngIf="loadingSpinner" 
            [ngClass]="{'animate':loadingSpinner, '!bg-[#5a920b]': submitLabelHover}">
            <app-spinner></app-spinner>
          </div>
        </div>
        <small class="register" [ngClass]="{'hidden': !show}">
          <a routerLink="/register" type="submit" class="register">عضویت</a>
        </small>
        <small class="forget" [ngClass]="{'hidden': !show}">
          <a routerLink="/forget-password" type="submit" class="forget">فراموشی رمز عبور</a>
        </small>
      </div>
    </form>
  </div>
</div>