/* You can add global styles to this file, and also import other style files */
@use './app/__share/sass/snackbar_color' as snack;
@import url(./assets/vazir.css);
@import './../node_modules/ngx-bar-rating/themes/br-default-theme.scss';
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body { height: 100%; overflow-x: hidden; }
body { 
  margin: 0; 
  direction: rtl;
}

* {
  font-family: 'Vazir', Roboto, "Helvetica Neue", sans-serif;
  font-feature-settings: "ss01", "tnum";
}

.snackbar-color-success {
  @include snack.snackbar-success;
}

.snackbar-color-error {
  @include snack.snackbar-error;
}
