:host ::ng-deep .setting {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 15px;
    overflow: auto;
    background-color: white;
    margin-top: 50px;
    .upload-center {
        padding: 16px;
        .title {
            display: block;
            margin-bottom: 16px;
        }
        .mat-radio-button:not(:nth-of-type(1)) {
            margin-right: 16px;
        }
        .mat-radio-label-content {
            margin-right: 8px;
        }
    }
}