<div class="read-upload">
    <div class="custom-container">
        <div class="toolbar">
            <a type="submit" class="btn add" routerLink="upload">آپلود جدید</a>
        </div>
        <div class="card-images" *ngIf="files.length > 0">
            <div 
                class="box-image" 
                *ngFor="let file of files; 
                let i = index;">
               <div class="detail">
                    <img [src]="uploadCenter === 'liara' ? file.fileLiara?.Location : baseApi + '/' + file.userId + '/' + file.filename" alt="">
                    <small class="image-name">{{file.filename}}</small>
               </div>
                <mat-icon class="delete" (click)="remove(i, file.id)">delete</mat-icon>
            </div>
        </div>
        <div *ngIf="files.length === 0">
            <h6 class="no-file">{{ responseMessage }}</h6>
        </div>
    </div>
</div>
