@use '../../../___share/sass/button' as button;
@use '../../../___share/sass/general' as general;

.read-upload {
    .custom-container {
        margin: 0 auto;
        .toolbar {
            display: flex;
            align-items: center;
            margin-top: 50px;
            .btn.add {
                @include button.btn;
                @include button.add;
                width: 130px;
                margin-left: 3px
            }
        }
        .card-images {
            display: flex;
            flex-wrap: wrap;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;;
            padding: 15px;
            margin-top: 10px;
            height: 450px;
            overflow: auto;
            background-color: white;
            .box-image {
                border-radius: 6px;
                border: 1px solid #eee;
                display: flex;
                align-items: center;
                margin: 5px 5px 0;
                min-width: 48%;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
                justify-content: space-between;
                
                .detail {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                       width: 48px;
                       height: 48px;
                       border-top-right-radius: 3px;
                       border-bottom-right-radius: 3px;
                       aspect-ratio: 1/1;
                    }
                    .image-name {
                        padding: 5px 15px;
                        direction: ltr;
                        text-overflow: ellipsis;
                        overflow: hidden;
                        white-space: nowrap;
                        width: 200px;
                    }
                }
                .delete {
                    color: #525151cf;
                    min-height: 28px;
                    min-width: 28px;
                    font-size: 24px;
                    margin-left: 10px;
                    &:hover {
                        cursor: pointer;
                        transform: scale(1.2);
                    }
                }
            }
        }
        .no-file {
            @include general.noData();
        }
    }
}




@media (max-width: 768px) {
    .card-images {
        flex-wrap: nowrap !important;
    }
}


@media (max-width: 319px) {
    .box-image {
        min-width: 240px !important;
    }
}